*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 70vw;
    padding:2rem 1rem;
    margin:0 auto;
}
.header{
    margin-bottom: 2.8rem;
   
}
.header-title{
    margin-bottom: 1rem;
    font-size:1.7rem;
    line-height:2rem;
    font-weight:700;
    text-align: center;
}
.header-desc{
    max-width:568px;
    text-align: center;
    color: rgb(84, 82, 82);
    margin:0 auto;
}

.cards{
    display:grid;
    gap:1.5rem;
    grid-template-columns: repeat(1,1fr);
}

@media(min-width:650px){
    .cards{
          grid-template-columns:repeat(2,1fr);
    }
    

}


@media(min-width:1080px){
    .cards{
          grid-template-columns:repeat(3,1fr);
    }
    

}


@media(min-width:1340px){
    .cards{
          grid-template-columns:repeat(4,1fr);
    }
    

}
.card1{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(143, 141, 141);
    border-radius:8px;
    overflow: hidden;

}
.cardimagecontainer{
    position:relative;
    overflow:hidden;
    height:11rem;

}
.cardimage1{
    object-fit:cover;
    object-position: center;
    position:absolute;
    height:100%;
    width:100%;
    
}
.card_text_container{
    display:flex;
    flex-direction: column;
    padding:1.5rem;

}
.cardimagecontainer:hover .cardimage1{
    transform:scale(1.1);
    transition-duration: 200ms;
}

.cardtitle{
    font-size:1rem;
    font-weight:600;
    color:black;
    line-height:1rem;
    margin-bottom:0.3rem;

}
.card_title_anchor:hover .cardtitle{
    color:rgb(115, 115, 187);

}
.cardtext{
    color:rgb(125, 122, 122);
    font-size:1rem;
}
.cardfooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:1.1rem;
}
.authorcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.author_avtar_conatiner{
    height:2.5rem;
    width:2.5rem;
    overflow:hidden;
    border:1px solid rgb(101, 98, 98);
    border-radius:50%;
    background-color: rgb(228, 224, 224);


}

.name{
    display:flex;
    flex-direction: column;
}

.author_name{
    color:rgb(142, 142, 250);
}

.author_date{
    color:rgb(101, 98, 98);
}

.tagcontainer{
    font-size:0.9rem;
    border:0.8px solid black;
    border-radius:2px;
    line-height:1.3rem;
    padding:0.5rem 0.25rem;
    color:gray;
}